@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 210, 6, 83;
  --secondary: 255, 149, 29;
  --secondary-foreground: 255, 245, 233;
  --grey: 130, 130, 130;

  --background: rgb(246, 244, 245);
  --foreground: rgb(51, 51, 51);
  --right-gradient-color: rgb(210, 6, 83);
  --left-gradient-color: rgb(255, 149, 29);

  --navbar-height: 70px;
  --body-height: calc(100vh - var(--navbar-height));
}

body {
  color: rgb(var(--foreground));
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .primary-gradient-bg {
    @apply bg-gradient-to-r from-[var(--right-gradient-color)] to-[var(--left-gradient-color)];
  }
}
